@font-face {
  font-family: 'Euclid';
  src: url('../../../public/Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Euclid';
  src: url('../../../public/Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Euclid';
  src: url('../../../public/Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Euclid';
  src: url('../../../public/Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Euclid';
  src: url('../../../public/Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Euclid';
  src: url('../../../public/Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@import './reset.css';
